{% extends 'base.html.twig' %}

{% block title %}We Movies{% endblock %}

{% block body %}
    <div class="navbar">
        <h1>A propos de We Movies</h1>
        <div>
            <input type="text" id="autocomplete" placeholder="Search for movies...">
            <div id="suggestions" class="suggestions"></div>

            <script src="{{ asset('js/autocomplete.js') }}"></script>
        </div>
    </div>
    <main class="page">
        <div class="video_player">
            <iframe src="https://www.youtube.com/embed/{{ first_best_movie.video.key }}?si=bTpWukwStPLZ_Xrj" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="genre-list">
            {% include 'tmdb/genreList.html.twig' %}
        </div>
        <div class="movieList">
            {% include 'tmdb/movieList.html.twig' %}
        </div>
    </main>

    {% include 'tmdb/movieModal.html.twig' %}

{% endblock %}
