<!-- Modale pour afficher les détails du film -->
<div id="movieModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div class="video_player" id="modalVideoPlayer"></div>
        <h2 id="modalTitle"></h2>
        <div class="modal-details">
            <p id="modalRating"></p>
            <p id="modalTitle"></p>
            <p id="modalVoteCount"></p>
        </div>
    </div>
</div>